# week_02

<br>

## <b> Ch02. 데이터: 타입, 값, 변수, 이름 </b>

### 타입
- 문자열(string), 부동소수점/실수(float), 정수(int), 불리언(bool) 등

### 할당
- 여러 변수명에 동시에 할당 가능
- 동시 할당 시 동일한 메모리 주소값을 가짐

In [1]:
# 동시 할당 예시

two = deux = dos = 2   # dos -> deux -> two 순으로 할당됨
print(two, id(two))
print(deux, id(deux))
print(dos, id(dos))    # 메모리 주소값 모두 동일

2 1786738534736
2 1786738534736
2 1786738534736

<br>


### 불변객체
- 객체에 할당된 값 수정 불가
- 새로운 값을 할당 받을 시 새로운 메모리 주소를 부여받음
- 예시 : 정수(int)

In [3]:
# 불변 객체 예시 

two = 4                # 새로운 값(4) 할당 받음
print(two, id(two))    # 새로운 메모리 주소 부여 받음
print(deux, id(deux))  # int는 불변객체이므로 값 불변, deux는 여전히 2
print(dos, id(dos))    # int는 불변객체이므로 값 불변, dos는 여전히 2

4 1786738534800
2 1786738534736
2 1786738534736

<br>

### 가변객체
- 객체에 할당된 값 수정 가능
- 새로운 값 할당 받을 시에도 메모리 주소 변동 없음
- 예시 : 리스트(list)

In [5]:
# 가변 객체 예시

list1 = list2 = [1,2,3]   # 동일한 값 할당
print(list1, id(list1))   # 메모리 주소 동일
print(list2, id(list2))
print()

list2[0] = 5              # 새로운 값 할당
print(list1, id(list1))   # 리스트 값이 변경됨
print(list2, id(list2))   # 메모리 주소는 여전히 동일

[1, 2, 3] 1786853699840
[1, 2, 3] 1786853699840

[5, 2, 3] 1786853699840
[5, 2, 3] 1786853699840

<br>

### 좋은 변수명
- 간결하고 명확한 이름
- 의미가 담겨야 함
ex) The number of students => num_students로
- 카멜 표기법 ex) numStudents ***java에서 많이 쓰는 방식

### 자료형 변환

- <b>원하는 타입(변환할 값)</b>의 형식을 사용하여 변환 ex) <b>str(a)</b>
- 주의할 점
    1. float이 int로 바뀔 때는 소수점 뒤가 내림으로 생략된다.
    2. float형을 int로 바꾸려 하면 에러가 발생한다

In [7]:
# 자료형 변환 예시

a = 10               # 현재 자료형은 정수
print(type(a))
print()

print(str(a), type(a))   # 문자열 타입으로 변환
print(float(a), type(a))  # 부동소수점 타입으로 변환
print(bool(a), type(a))  # 불리언 타입으로 변환 ***0, None 등의 값은 False로 나옴

<class 'int'>

10 <class 'int'>
10.0 <class 'int'>
True <class 'int'>

In [13]:
# 주의할 점 1번 예시

x = 10.7 ; y = 19.8

print(int(x+y))            
print(int(x) + int(y))  # 각각의 값이 정수 타입으로 바뀌면서 소수점 뒤는 내림으로 생략됨, int(x+y)와 다른 결과값 나옴

30
29

In [15]:
# 주의할 점 2번 예시

num = '10.7'

print(float(num))
print(int(num))   # float으로 추정되는 문자열을 int로 바꾸려 했으므로 변환 시 에러 발생

10.7

ValueError: invalid literal for int() with base 10: '10.7'

<br>

### print() 활용

In [20]:
# 공백 있게 출력

dog = 'dog' ; cat = 'cat' ; lion = 'lion'
print(dog, cat, lion)                      # ','을 활용하면 띄어쓰기 있게 출력됨

dog cat lion

In [26]:
# sep 값과 end 값 설정하기

print(dog, cat, lion, sep='/', end='\n\n') # 공백 대신에 '/'가 들어가고 문장이 끝나면 2줄이 띄어짐
print('The end')

dog/cat/lion

The end

In [27]:
# 문자열 포맷팅

print(f'My fav animal is {dog}.')  # f'{}'형식을 사용하면 변수를 프린트하기 용이함

My fav animal is dog.

<br>

### input() 
- 콘솔에서 사용자가 입력하는 값을 받을 수 있는 함수
- 입력 받는 값은 문자열로 인식 됨
- 입력 받은 값은 변수에 할당하여 사용함
- 숫자를 입력받고 싶은 경우 형 변환하여 사용함

<br>

## <b>Quiz.1</b>
- 섭씨를 입력 받아 화씨로 변환하기
- 섭씨 * 1.8 + 32 = 화씨

In [29]:
# Quiz.1 풀이

celsius = float(input('섭씨를 입력해주세요: '))
fahrenheit = celsius * 1.8 + 32
print(f"화씨는 {fahrenheit}도 입니다.")

섭씨를 입력해주세요: 22
화씨는 71.6도 입니다.

## <b>Quiz.2</b>
- 택배 정보 입력 받고(이름, 주소, 무게), 총 합계 계산하기
- 출력값:<br><br>
    ==택배 정보== <br>
    수취인 성명:<br>
    수취인 주소: <br>
    배송비: 3000원 <br>
    물건 비용: 원 <br>
    총 합계: 원 <br> <br>
- 물건 비용 = 무게(g) * 5
- 합계 = 배송비 + 물건 비용

In [31]:
# Quiz.2 풀이

name = input('수취인 성명을 입력해주세요: ')
address = input('수취인의 주소를 입력해주세요: ')
weight = float(input('물건의 무게(g단위)를 입력해주세요: '))
delivery_cost = 3000
package_cost = weight * 5
total_cost = delivery_cost + package_cost

print()
print(f"==택배정보==")
print(f"수취인 성명: <{name}>")
print(f"수취인 주소: <{address}>")
print(f"배송비: {delivery_cost}원")
print(f"물건 비용: <{package_cost}>원")
print(f"총합계: <{total_cost}>원")

수취인 성명을 입력해주세요: 진혜신
수취인의 주소를 입력해주세요: 동대문구
물건의 무게(g단위)를 입력해주세요: 130

==택배정보==
수취인 성명: <진혜신>
수취인 주소: <동대문구>
배송비: 3000원
물건 비용: <650.0>원
총합계: <3650.0>원

<br>

## <b>Ch03. 숫자</b>

### Boolean
- 1은 true, 0은 false 
- '', None, 0 등이 false임

### Integer
- 소수점이 없음
- default는 양수, 음수는 앞에 '-'을 붙여서 표현함
- 숫자 앞에는 0을 붙일 수 없음 ex) 05 ***다른 진수 표현시에는 예외적으로 0이 앞에 갈수도 있음
- 중간에 공백이 많아도 무시 됨 ex) a = -9 + 8 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -3
- 숫자 사이에 ','을 쓰면 서로 분리된 것으로 인식함 ex) 10,000 => 10와 000으로 인식
- 숫자 사이의 언더바는 무시 됨 ex) a = 10_000 ***a는 10000으로 출력됨

### 연산 요소

- 연산자(operator)
- 피연산자(operand)
- 수식(expression)

In [42]:
# 할당 연산자 '='

num1 = 10
num2 = 5


# 산술 연산자 '+,-,/,*'

print(num1 + num2) #더하기
print(num1 - num2) #빼기
print(num1 / num2) #나누기
print(num1 * num2) #곱하기
print()


# 복합대입 연산자 '+=, -=, /=, *='

a = 5

a += 3 ; print(a)     # a = a+3 이라는 뜻 
                      # 1) a + 3 계산 (2) 임시변수 temp = a + 3 입력 (3) a = a + 3
a -= 3 ; print(a)    

a /= 3 ; print(a)

a *= 3 ; print(a)

print()


# 비교 연산자 '<, <=, >, >=, ==, !=, is, is not'

print(num1 < num2)   # 작다
print(num1 <= num2)  # 같거나 작다
print(num1 > num2)   # 크다
print(num1 >= num2)  # 같거나 크다
print(num1 == num2)  # 같다
print(num1 != num2)  # 같지 않다
print(num1 is num2)  # 값과 메모리 주소가 같다
print(num1 is not num2)  #값과 메모리 주소가 다르다
print()


#논리 연산자 'and(&), or(|), not'

print(10 < num2 < 20)            # 여러 조건식 비교할 때 논리 연산자 사용, 옆의 예시는 파이썬에서만 가능한 표현
print(num1 == 10 and num2 == 5) # 둘 다 참일 때 참
print(num1 > 10 or num2 < 10)   # 둘 중 하나가 참이면 참
print(not num1 == 5)            # True면 False, False면 True 반환
print()


# 거듭제곱 '**'

print(num1 ** num2) #거듭제곱

15
5
2.0
50

8
5
1.6666666666666667
5.0

False
False
True
True
False
True
False
True

False
True
True
True

100000

<br>

### 나누기 주의사항
- division by zero ***0으로 나눌 수 없음, x/y => y!=0
- 몫 출력은 x // y, 나머지 출력은 x % y
- divmod(x,y) 하면 몫, 나머지 출력됨

### 지수표현
- e,E를 사용
- e의 앞 부분은 float혹은 int, 뒷 부분은 int만 옴
- e 뒷 부분이 양수면 0 앞으로 가고, 음수면 0 뒤로 감(소수점)

In [37]:
print(1.0e6)  # 뒷 부분이 양수이므로 0 앞으로 감

1000000.0

In [39]:
print(1.0e-3)  #뒷 부분이 음수이므로 0 뒤로 감

0.001

<br>

## <b>Quiz.3</b>
- 정수를 입력 받고 3의 배수 여부, 홀수 여부를 확인해보기

In [1]:
# Quiz.3 풀이

num = int(input('정수를 입력하세요: '))
print(num % 3 == 0) #3의 배수 여부 확인
print(num % 2 == 0) #홀수 여부 확인

정수를 입력하세요: 10
False
True

<br>

## <b> Ch04. 선택하기: if</b>
### if문

- 3개의 종류가 있음
    - 조건 1개 if
    - 조건 2개 if~else 
    - 조건 3개 if~elif~else

In [45]:
# 조건 1개

if 2 > 1:
    print('조건 1개')
 
 
# 조건 2개

if 3 > 2 :
    print('3 > 2 참일 시 실행, 조건 2개')
else :
    print('3 > 2 거짓일 시 실행, 조건 2개')
    
    
# 조건 3개

num = 10
if num > 10 :
    print('num > 10 참일 시 실행, 조건 3개')
elif num == 10 :
    print('num == 10 참일 시 실행, 조건 3개')
else :
    print('num > 10과 num == 10 모두 거짓일 시 실행, 조건 3개')

조건 1개
3 > 2 참일 시 실행, 조건 2개
num == 10 참일 시 실행, 조건 3개

<br>

## <b>Quiz.4</b>

- 학점 주기
- 학점을 입력 받아서
    - 90점 이상이면 A
    - 80점 이상이면 B
    - 70점 이상이면 C
    - 그외 D

In [2]:
# Quiz.4 풀이

score = int(input('점수를 입력해주세요: '))
result = None

if score >= 90:
    result = 'A'
elif score >= 80:
    result = 'B'
elif score >= 70:
    result = 'C'
else :
    result = 'D'

print(f"학점은 {result}입니다.")

점수를 입력해주세요: 80
학점은 B입니다.

## <b>Quiz.5</b>
- 아이디와 비번 입력 받아서 둘다 일치하면 로그인하기
- 아이디, 비번 각자 정해놓기
- 일치하지 않을 때에는 창의적으로 어떤 걸로 반환하기

In [3]:
# Quiz.5 풀이

fixed_id = 'hi'
fixed_pw = 'bye'

your_id = input('ID를 입력해주세요: ')
your_pw = input('PW를 입력해주세요: ')

if your_id == fixed_id:
    if your_pw == fixed_pw:
        print('로그인에 성공하였습니다.')
    else:
        print('비밀번호가 일치하지 않습니다.')
else :
    print('존재하지 않는 아이디입니다.')

ID를 입력해주세요: hi
PW를 입력해주세요: bye
로그인에 성공하였습니다.

## <br> Quiz.6 </br>
- 결석 횟수를 받아서 점수가 80점 이상인데 결석이 2번 이상이면 F, 나머지는 점수대로

In [6]:
# Quiz.6 풀이

score = int(input('점수를 입력해주세요: '))
absence = int(input('결석한 횟수를 입력해주세요: '))
result = None

if score >= 90:
    result = 'A'
elif score >= 80:
    result = 'B'
elif score >= 70:
    result = 'C'
else :
    result = 'D'

if score >= 80 and absence >= 2 :
    result = 'F'
    
print(f"학점은 {result}입니다.")

점수를 입력해주세요: 86
결석한 횟수를 입력해주세요: 3
학점은 F입니다.