## Dictionary

- 영어 사전
    - 단어: 뜻
    - 키: 값
    - 순서가 없음 => 인덱싱 불가능
    - 키로 값을 찾음
        - 키는 중복되지 않는 고유한 값
    - 가변: 수정, 삭제, 추가 가능
    - 타입: dict
    - 형변환: dict()
    - 중괄호 사용{}, 콤마로 구분함
    - 값에 다양한 자료구조 올 수 있음

In [5]:
# dic type

empty = dict()
empty = {}
a = {1, 2, 3}

# set type

empty = set()
a = {1:'apple', 2:'banana', 3:'kiwi'}

In [7]:
# dic type 선언 방법
b = {'':'', '':'', '':''}
b = dict(apple='a', banana='b', kiwi='c')

<br>

### 출석부로 딕셔너리 만들기
- 이름, 학번, 학과
- james 202201 경제학과
- laura 202203 스페인어과
- louis 202202 컴공과

In [4]:
attendance = {'james':'202201 경제학과', 'laura':'202203 스페인어과', 'louis':'202202 컴공과'}

In [8]:
# 이름은 중복될 수 있으므로 key는 학번으로 해야 함!

attendace = {202201:['james', '경제학과'], 202203:['laura', '스페인어'], 202202:['louis', '컴공과']}

<br>

<br>

## 형 변환
- pair가 있을 때 형 변환 가능

In [9]:
ex1 = [[1,2], [2,3], [3,4]]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [10]:
# key 값이 중복되면 출력 안함

ex1 = [[1,2], [2,3], [1,4]]
dict(ex1)

{1: 4, 2: 3}

In [11]:
ex3 = ['ab', 'bc', 'cd']
dict(ex3)

{'a': 'b', 'b': 'c', 'c': 'd'}

<br>

<br>

## 항목 조회&변경

In [13]:
pythons = {
    'Chapman': 'Graham',
    'Cleese': 'John',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin': 'Michael'
}

In [14]:
pythons['Idle']

'Eric'

In [17]:
# 변경

pythons['Idle'] = 'James'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [18]:
# 추가
pythons['Hwa'] = 'Chloe'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [19]:
# 예외 없이 하려면

'Hwa' in pythons # 확인

True

In [20]:
# get() 사용
pythons.get('Lee', 0) # 없는 거는 None, 혹은 지정값으로 반환

0

<br>

<br>


## 전체조회
- keys()
- values()
- items()

In [25]:
pythons.keys() # 출력형태가 list같아 보이지만 list는 아님, list로 쓰고 싶으면 형변환 필요

dict_keys(['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa'])

In [26]:
pythons.values()

dict_values(['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe'])

In [27]:
pythons.items()

dict_items([('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'James'), ('Jones', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'Chloe')])

In [28]:
for k, v in pythons.items():
    print(f'{k} = {v}')

Chapman = Graham
Cleese = John
Idle = James
Jones = Terry
Palin = Michael
Hwa = Chloe

In [29]:
[{k,v} for k, v in pythons.items()]

[{'Chapman', 'Graham'},
 {'Cleese', 'John'},
 {'Idle', 'James'},
 {'Jones', 'Terry'},
 {'Michael', 'Palin'},
 {'Chloe', 'Hwa'}]

In [31]:
[k[1] for k in pythons.items()] # 튜플로 되어 있어서 인덱스 접근이 가능

['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe']

In [33]:
[k for k in pythons] # 아무 것도 없이 돌면 key값만 나옴

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

<br>

<br>

## ex_1  
- animal: num_leg 딕셔너리를 만드시오.

In [2]:
animal = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8

#### range 활용법

In [3]:
legs = [4, 0, 2, 4, 8]
result = dict()


for num in range(len(animal)):
    result[animal[num]] = legs[num]
            

result

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

#### zip() 활용법

In [4]:
result = dict()
for animal, legs in zip(animal, legs):
    result[animal] = legs
result

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

<br>

<br>

## ex_2
- pythons에서 성:이름, 성 첫글자만, 이름은 글자개수로 이뤄진 튜플 (성, 이름) 리스트로 변환하기

In [9]:
pythons = {
    'Chapman': 'Graham',
    'Cleese': 'John',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin': 'Michael'
}


# [(), ()] 이러한 형태는 items()를 쓰라는 것임

[(key[0], len(value)) for key, value in pythons.items()]

[('C', 6), ('C', 4), ('I', 4), ('J', 5), ('P', 7)]

In [13]:
# 이렇게도 가능

[(k[0][0], len(k[1])) for k in pythons.items()]

[('C', 6), ('C', 4), ('I', 4), ('J', 5), ('P', 7)]

In [14]:
# 리스트 활용법

result = []
for k, v in pythons.items():
    result.append((k[0], len(v)))
result

[('C', 6), ('C', 4), ('I', 4), ('J', 5), ('P', 7)]

<br>

<br>

## 값 수정
- 삭제, 복제, 비교

In [79]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [80]:
others = {
    'Marx': 'Groucho',
    'Howard': 'Moe'
    
}

others

{'Marx': 'Groucho', 'Howard': 'Moe'}

In [81]:
# update를 통해 값 추가 가능

pythons.update(others)

In [82]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [83]:
# 파이썬3에서 가능한 것
{**others, **pythons}

{'Marx': 'Groucho',
 'Howard': 'Moe',
 'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

<br>

### 삭제

In [84]:
del pythons['Marx']

In [85]:
# 전체 삭제

pythons.clear()
pythons = {}

<br>

### 값 찾기

In [89]:
pythons = {
 'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Marx': 'Groucho',
 'Howard': 'Moe'
}


pythons.pop('Howard')

'Moe'

In [90]:
pythons.pop('hi', 0)  # 값 없으면 에러남, 출력 값 지정 가능

0

<br>

### 복제
- 할당: b = a
- 얕은 복사: c = a.copy()
- 깊은 복사

In [91]:
a = {1:1, 2:2, 3:3}
b = a
a[1] = 45
a, b

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

In [92]:
c = a.copy()
a[2] = 22
a, c

({1: 45, 2: 22, 3: 3}, {1: 45, 2: 2, 3: 3})

In [96]:
a = {1:[1, 2, 4], 2:[3, 4, 5]}
d = a.copy()
a[1][0] = 100
a,d

({1: [100, 2, 4], 2: [3, 4, 5]}, {1: [100, 2, 4], 2: [3, 4, 5]})

In [95]:
import copy
e = copy.deepcopy(a)
a[1][1] = 77
a, e

({1: [100, 77, 4], 2: [3, 4, 5]}, {1: [100, 2, 4], 2: [3, 4, 5]})

<br>

<br>

<br>

## ex_3

In [16]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mers jupliter saturn uranus neptune'.split()

In [17]:
result = dict()

for num in range(len(solar_kor)):
    if solar_kor[num].endswith('성'):
        result[solar_kor[num]] = solar_eng[num]

result['명왕성'] = 'pluto'

sorted(result.items())

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupliter'),
 ('수성', 'mercury'),
 ('천왕성', 'uranus'),
 ('토성', 'saturn'),
 ('해왕성', 'neptune'),
 ('화성', 'mers')]

In [20]:
# 이렇게 하면 한방에 딕셔너리 전체목록 만들 수 있음
dict_EX = dict([[x,y] for x,y in zip(solar_kor, solar_eng)])
dict_EX

{'태양': 'sun',
 '수성': 'mercury',
 '금성': 'venus',
 '지구': 'earth',
 '화성': 'mers',
 '목성': 'jupliter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune'}

<br>

<br>

## 컴프리헨션

In [116]:
letter = 'apple'
{ch: letter.count(ch) for ch in letter}

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [119]:
# 단어의 모음 세기

vowels = 'aeiou'
word = 'onomatopoeia'

# word 순회 결과 산출
# vowels 순회 결과 산출

{v: word.count(v) for v in vowels if v in word}

{'a': 2, 'e': 1, 'i': 1, 'o': 4}

In [121]:
{w: word.count(w) for w in set(word) if w in vowels}

{'a': 2, 'i': 1, 'o': 4, 'e': 1}

<br>

<br>

## 정렬

In [129]:
sorted(result.items())

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupliter'),
 ('수성', 'mercury'),
 ('천왕성', 'uranus'),
 ('토성', 'saturn'),
 ('해왕성', 'neptune'),
 ('화성', 'mers')]

In [130]:
sorted(result.items(), key=fx)  # x[1]을 기준으로 정렬 영어기준 정렬

[('목성', 'jupliter'),
 ('수성', 'mercury'),
 ('화성', 'mers'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

<br>

<br>

### 람다식 활용

In [131]:
def fx(x):
    return x[1]

In [134]:
sorted(result.items(), key=lambda x:x[1])

[('목성', 'jupliter'),
 ('수성', 'mercury'),
 ('화성', 'mers'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

<br>

<br>

## set
- 중복이 없음
- 집합 => 교집합, 합집합, 차집합
- 순서도 중복도 없는 bag. 인덱싱도 없음

In [135]:
empty = set()
empty

set()

In [136]:
a= {1,2,3}
a

{1, 2, 3}

In [137]:
a = set(1,2,3) # 이렇게는 안됨

TypeError: set expected at most 1 argument, got 3

In [139]:
a = set({1,2,3}) # 이렇게 해야함

### 추가

In [141]:
a.add(4)
a

{1, 2, 3, 4}

### 삭제

In [142]:
a.remove(4)
a

{1, 2, 3}

<br>

<br>

## ex_04

In [153]:
drinks = {
    'martini': {'vodka', 'vermouth'},
    'black russian': {'vodka', 'kahlua'},
    'white russian': {'cream', 'kahlua', 'vodka'},
    'manhattan': {'rye', 'vermouth', 'bitters'},
    'screwdriver': {'orange juice', 'vodka'}
}

# vodca가 포함된 술 출력하기
# vodca는 없지만, cream, vermouth 없는 술 출력하기

In [164]:
for name, components in drinks.items():
    if 'vodka' in components:
        print(f'보드카가 포함된 술: {name}')
    if ('vodka' in components) and not ('cream' in components or 'vermouth' in components):
        print(f'보드카는 있지만 cream, vermouth는 없는 술: {name}')

보드카가 포함된 술: martini
보드카가 포함된 술: black russian
보드카는 있지만 cream, vermouth는 없는 술: black russian
보드카가 포함된 술: white russian
보드카가 포함된 술: screwdriver
보드카는 있지만 cream, vermouth는 없는 술: screwdriver

In [166]:
# set 활용해서 바꾸기

for k, v in drinks.items():
    if 'vodka' in v and not ('cream' in v or 'vermouth' in v):
           print(k)

black russian
screwdriver

In [169]:
# 답안

for k, v in drinks.items():
    d = {'cream', 'vermouth'}
    if 'vodka' in v and not v & d:
        print(k)

black russian
screwdriver

<br>

<br>

### 교집합 합집합 차집합

In [157]:
a = {1, 2, 3}
b = {2, 3, 4}

a & b # 교집합 .intersection()

{2, 3}

In [158]:
a | b # 합집합 .union()

{1, 2, 3, 4}

In [159]:
a - b # 차집합 .difference()

{1}

<br>

<br>

### set comprehension

In [170]:
{s for s in range(5)}

{0, 1, 2, 3, 4}

### frozenset

In [171]:
set([1,2])
frozenset([1,2])

frozenset({1, 2})